
.activeView{
     color:red;
 }

.view{
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    width:80%;
}

#chartMem svg{
    height: 300px;
}

#chartDisk svg{
    height: 300px;
}

#chartCpu svg{
    height: 300px;
}

