<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">

    <link href="css/menuView.css" rel="stylesheet">
    <link href="css/zoneView.css" rel="stylesheet">
    <link href="css/hypervisorView.css" rel="stylesheet">
    <link href="d3/nv.d3.css" rel="stylesheet">

    <!--For ui-select -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link rel="stylesheet" href="css/select.css">


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" ></script>

    <script src="js/select.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>


    <!-- for typeahead menu -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

    <!--<script src="Chartjs/chart.js"></script>
    <script src="js/angular-chart.min.js"></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="d3/nv.d3.js"></script>

    <!--<script src="radialChart/lib/vizuly_core.min.js"></script>
    <script src="radialChart/lib/vizuly_radialprogress.min.js"></script>-->
</head>
<body ng-app="myApp">

   <div id="topMenu" ng-controller="menuCtrl">
       <div id="menuChoices">
           Environment: <div class="btn-group">
           <ui-select ng-model="$parent.env" theme="select2" ng-disabled="ctrl.disabled"  style="min-width: 170px;" title="Choose an environment">
               <ui-select-match placeholder="Select an environment...">{{env}}</ui-select-match>
               <ui-select-choices repeat="envListed in envs | filter: $select.search" position='down'>
                   {{envListed}}
               </ui-select-choices>
           </ui-select>
       </div> &nbsp; &nbsp;
           Zone: <ui-select ng-model="$parent.zone" theme="select2" ng-disabled="ctrl.disabled" title="Choose a zone">
           <ui-select-match placeholder="Select a zone...">{{zone}}</ui-select-match>
           <ui-select-choices repeat="zoneListed in zones | filter: $select.search" position='down'>
               {{zoneListed}}
           </ui-select-choices>
       </ui-select> &nbsp; &nbsp;
           Hypervisor: <ui-select ng-model="$parent.hyp" theme="select2" ng-disabled="ctrl.disabled" style="min-width: 240px;" title="Choose a hyp">
           <ui-select-match placeholder="Select a hypervisor...">{{hyp}}</ui-select-match>
           <ui-select-choices repeat="hypListed in hyps | filter: $select.search" position='down'>
               {{hypListed}}
           </ui-select-choices>
       </ui-select>&nbsp; &nbsp;
       </div>
        <div id="menuFilters">
            <a class="filterButton" ng-class="overallocated ? 'active' : ''" ng-click="overallocated = !overallocated">Overallocated</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="filterButton" ng-show="hypClass != 'activeView'" ng-class="memory ? 'active' : ''"ng-click="memory = !memory">Memory</a>
            <a class="filterButton" ng-show="hypClass != 'activeView'" ng-class="vcpu ? 'active' : ''"ng-click="vcpu = !vcpu">vCPU</a>
            <a class="filterButton" ng-show="hypClass != 'activeView'" ng-class="disk ? 'active' : ''"ng-click="disk = !disk">Disk</a>
        </div>

   </div>
    <div class="view" ng-controller="envCtrl as env" ng-show="envShow">
        <h1>Environment Overview</h1>
        <div id = "envChartZone">
            <div id="envGroupChart">
                <svg></svg>
            </div>
            <div id="envSingleChart">
            </div>
        </div>
    </div>
   <div class="view" ng-controller="zoneCtrl as zone" ng-show="zoneShow">
       <div id="chartMem" >
           <svg id="svgMemory"></svg>
       </div>
       <div id="chartDisk">
          <svg id="svgDisk"></svg>
       </div>
       <div id="chartCpu" >
           <svg id="svgCpu"></svg>
       </div>
   </div>
   <div class="view" ng-controller="hypCtrl as hyp" ng-show="hypShow">
        <div id="radarChartBody">
            <div id="radarChart"></div>
        </div>
   </div>
   <script src="js/radarChart.js"></script>
    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/general.js"></script>
</body>
</html>
